<app-navigation-bar></app-navigation-bar>
<div class="container">
  <div class="row">
    <div *ngIf="!showDirective">
      <p>Highlight Me</p>
      <h1>This is heading text...</h1>
      <div>
        <h1>Heading Text</h1>
        <p>Sub title text</p>
      </div>
    </div>
    <div *ngIf="showDirective">
      <p highlight-text>Highlight Me</p>
      <h1 app-heading-text>This is heading text...</h1>
      <div app-heading-wrapper>
        <h1>Heading Text</h1>
        <p>Sub title text</p>
      </div>
    </div>
  </div>
  <div class="row">
    <button (click)="toggleDirectiveDisplay()">
      <span *ngIf="!showDirective">Apply Directives</span>
      <span *ngIf="showDirective">Remove Directives</span>
    </button>
  </div>

</div>